@use '../../_config' as *;

#container_listagemProdutos{
  #header_listagem{
    @media (max-width: 500px){
      width: 100%;
    }
    picture{
      display: block;
      width: 100%;
      height: 400px;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .womens-dresses, .mens-shirts, .tops{
        object-position: 0 10%;
      }
    }

    #container_filtro {
      background: $cor-2;
      height: 80px;
      width: 100%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      @media (max-width: 500px) {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
      }

      #container_categoriasFiltro {
        display: flex;
        width: 60%;
        @media (max-width: 500px) {
          width: 100%;
          height: 80px;
          padding-inline: $esp-m;

        }

        button {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25%;
          color: white;
          transition: 200ms;
          padding: $esp-p $esp-pp;
          cursor: pointer;
          background: $cor-2;
          border: none;
        }

        button:hover {
          background: white;
          color: $cor-2;
        }

        .filtro-ativo {
          background: white;
          color: $cor-2;
        }
      }

      #container_search{
        width: 40%;
        height: 100%;
        position: relative;
        background: white;
        @media (max-width: 500px) {
          width: 100%;
          height: 80px;
        }

        input{
          height: 100%;
          outline: none;
          border: none;
          padding-left: 20%;
        }

        i{
          position: absolute;
          left: 5%;
          color: $cor-2;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  #listagem{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5%;

    .container_card{
      margin-bottom: $esp-p;
    }
  }
}

